

aside {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.952);
    color: white;
    font-size: 3rem;
    padding: 1.5rem;
}

section{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    margin-bottom: 0;
}

section > div{
    background-color: goldenrod;
    color: white;
    padding: 1rem;
}

section div > div {
    background-color: black;
    margin: 1rem .4rem;
    padding: 1px;
}

section div > h3{
    margin: 0.5rem;
    text-align: center;
}

section div{
    padding: 1.4rem ;
    text-align: center;
    border-radius: .5rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

 section a{
    padding: .5rem 1rem;
    background-color: black;
    color: blanchedalmond;
    text-decoration: none;
    border-radius: .3rem
}

section a:hover{
    padding: .6rem 1.2rem;
}

.iwc{
    display: table;
    padding: .6rem;
    margin: 0 auto;
    margin-top: 1.5rem;
}

.iwc:hover{
    padding: .6rem .9rem;
}

main{
    background-color: white;
    font-size: 1.3rem;
    margin: 2rem;
    padding-top: 1rem;
    text-align: center;
}

main a{
    padding: .5rem 1rem;
    background-color: black;
    color: blanchedalmond;
    text-decoration: none;
    border-radius: .3rem
}

main a:hover{
    padding: .6rem 1.2rem;
}













@media (max-width: 750px) {

    section{
        display: flex;
        flex-direction: column;
    }

    
    section div{
        margin: 1.5rem auto;
        width: 75%;
        padding-bottom: 1.7rem;
        padding-top: 1.6rem;
    }

    section div>div{
      margin: 0 auto;
    }

    section a{
        padding: .6rem 1rem;
        
    }
    section a:hover{
        padding: .6rem 1.2rem;
    }
    section a:active{
        padding: .6rem 1.2rem;
    }

}    