html {
    scroll-behavior: smooth;
  }

body{
    font-family: 'EB Garamond', serif;
    margin: 0;
    scroll-behavior: smooth;
}

.nav-2{
    background-color: #211f1f;
    padding: .8rem;
    display: flex;
    justify-content: space-around;
}
.nav-2 > p{
    text-align: center;
    padding: 0 1rem;
    margin: 0 auto;
    color: white;
}

.nav-2 > a{
    text-decoration: none;
    padding: .7rem 1.5rem;
    background-color: goldenrod;
    color: white;
    border-radius: 5px;
}

.nav-2 > a:hover{
    background-color: white;
    font-weight: 500;
    color: goldenrod;
}

.nav-3{
    background-color: black;
    display: flex;
    justify-content: space-around;
    font-size: large;
    font-weight: 800;
    padding: 1.5rem;
}

.nav-3 > a {
    color: white;
    text-decoration: none;
    margin: 0 1.5rem;

}

.nav-3 > a:hover{
    /* border-bottom: 2px solid goldenrod; */
    background-color: goldenrod;
    padding: 0 .2rem;
    border-radius: 2px;
}

.nav-5{
    padding: 2rem;
    text-align: center;
    background-color: #242323;
    display: none;
}

.nav-5 > a{
    text-decoration: none;
    padding: .7rem 1.5rem;
    background-color: goldenrod;
    color: white;
    border-radius: 5px;
}

.nav-5 > a:hover{
    background-color: white;
    font-weight: 500;
    color: goldenrod;
}








footer{
    background-color: black;
    
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    color: goldenrod;
}

#footer{
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-weight: 600;
}








.nav-4{
    display: none;
}

@media (max-width: 1000px) {

    .nav-2{
        display: none;
    }



    .nav-4{
        display: block;
        background-color: black;
        display: flex;
        justify-content: space-between;
        font-size: large;
        font-weight: 800;
        padding: 1.5rem;

    }
    .nav-3{
     position: absolute;
     text-align: center;
     width: 100%;
     top: 100px;
     display: none;
     padding: 10px 20px;
     box-sizing: border-box;
    }

    .nav-3 a{
        display: block;
        margin: 10px 0;
    }

    .nav-3.active{
        display: block;
    }

    .nav-5 {
        display: block;
    }
    
}





@media (max-width: 850px) {
    #footer{
        margin: 0 0.6rem;
        display: flex;
        flex-direction: column;
    }

    #readings{
        display: none;
    }
}
