@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Signika Negative', sans-serif;
  }

aside {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.952);
    color: white;
    font-size: 3rem;
    padding: 1.5rem;
}

section{
    margin: 1rem;
    text-align: center;
}

section div{
    width: 40%;
}

section{
    display: flex;
    justify-content: space-around;
}

@media (max-width: 750px) {
    section{
        flex-direction: column;
        align-items: center;
    }
    
    section div{
        width: 90%;
    }

    .section-div{
        margin: 1rem;
        padding: 1rem;
        border-top-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        background-color: goldenrod;
    }
}


@media (max-width: 1000px) {
    #important{
        border-bottom: 0;
    }
}


